
h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 800px;
    margin: 0 auto;
}

.product-title {
    font-size: 24px;
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-left: 5px #f30 solid;
}

.price-old {
    color: #f60;
    font-size: 14px;
    color: #999;
}
.price-old i {
    font-style: normal;
    font-size: 12px;
}
.price-now {
    color: #f60;
    font-size: 18px;
    font-family:Impact;
    font-weight: normal;
}
.price-now i {
    font-style: normal;
    font-size: 12px;
}

.price-bat {
    color: #f00;
    font-size: 12px;
    font-style: normal;
}
.price-bat b {
    font-size: 16px;
    font-family:Impact;
}
.sub {
    font-size: 12px;
    color: #999;
}

/* 批发数量 */
.bat-number {
    color: #f60;
}
.sup {
    font-size: 12px;
    color: #999;
}

/* 数量加减 */
.option-number {
    border: 1px #f60 solid;
    height: 24px;
    width: 24px;
    background: #fff;
}
.input-number {
    border: 1px #999 solid;
    height: 20px;
    line-height: 20px;
    background: #fff;
    text-align: center;
    margin:0 -1px;
}

/* 购买按钮 */
.buy-btn {
    border: none;
    background: #f60;
    color: #fff;
    padding: 5px 15px;
    border-radius: 2px;
}


.title2 {
    background: #f1f1f1;
    padding: 10px;
    border-left: 5px #f60 solid;
    font-weight: normal;
    margin-top: 20px;
}
/* 宝贝详情 */
.pro-table {
    width: 100%;
    border: 1px #ccc solid;
    border-width: 1px 0 0 1px;
    border-spacing: 0;
    font-size: 14px;
    margin-top: 10px;
}
.pro-table td {
    padding: .5em;
    border:1px #ccc solid;
    border-width: 0 1px 1px 0;
}

/* 评论 */
.comment {
    width: 100%;
    margin: 0;
}
.comment tr td {
    border-bottom: 1px #ccc solid;
    padding: 10px 0;
}
.comment-head { width: 60px; font-size: 12px;}
.comment-text {}

.main-text {
    font-size: 14px;
}
.main-text h3 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 5px 15px;
    color: #f60;
}

/* 相关产品 */
.others a { text-decoration: none; color: #333;}
.others {}
.others dt { font-size:18px; border-top: 1px #ccc solid; padding-top: 10px; margin-top: 10px;}
.others dd { font-style: 14px; padding: 5px 0;}


/* 我要评论 */
.pl-table {
    width: 100%;
    border: 1px #ccc solid;
    border-width: 1px 0 0 1px;
    border-spacing: 0;
    font-size: 14px;
    margin-top: 10px;
}
.pl-table td {
    padding: .5em;
    border:1px #ccc solid;
    border-width: 0 1px 1px 0;
}
.sendbtn {
    background: #f60;
    border: 0;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
}

/* 页脚 */
footer {
    padding: 20px 0;
    font-size:12px;
}